*{
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
      html,body {
      margin: 100;
      padding: 100;
      font-family: 'Roboto Slab', serif;
      }
      .main {
      background-image: url(https://images6.alphacoders.com/627/thumb-1920-627881.jpg);
      background-position: bottom;
      overflow: hidden;
      height: 100vh; 
      } 
      .main .title {
      width: 300px;
      height: 50px;
      text-align: center;
      color: #fff;
      top: calc(80vh - 70%);
      font-family: 'Roboto Slab', serif;
      left: 40%;
      position: absolute;
      }
  /*Menu*/

  .naveg{
      width: 1350px;
      margin: -5px auto;
      background: #dd2f2f;
      ;
  }
  .naveg ul{
  list-style: none;
  }
  .menu > li{
  position: relative;
  display: inline-block;
  }
  .menu > li > a{
  display: block;
  padding: 15px 20px;
  color: #ffff;
  text-decoration: none;
  }
  .menu li a:hover{
      color: #fc521f;
      transition: all.2s;
  }
  /* Submenu*/
  .submen{
      position: absolute;
      background: #fff;
      width: 120%;
      visibility: hidden;
      opacity: 0;
      transition: opacity 1.5s;
  }
  .submen li a{
      display: block;
      padding: 15px;
      color: #dd2f2f;
      font-family: 'Roboto Slab', serif;
      text-decoration: none;
  }
  .menu li:hover .submen{
      visibility: visible;
      opacity: 1;
  }  


.search{
  position: absolute;
  top: 1.5%;
  left: 920px;
  color: #ffffff;
}

  .search-box {
    position: absolute;
    top: 0.5%;
    left: 70%;
    background: #ffffff;
    height: 30px;
    border-radius: 20px;
    padding: 20px;
   }
   .search-box:hover > .search-txt {
    width: 350px;
    padding: 0 6px;
   }
  
   .search-box:hover > .search-btn {
    background: #dd2f2f;
    color: #ffffff;
   }
   .search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #dd2f2f;
    font-size: 13px;
    transition: 0.4s;
    line-height: 1px;
    width: 50px;
    font-family: Open Sans;
    font-weight: bold;
   }

  /*portafolio*/
img{
  width: 100%;
}
.portafolio{
  width: 90%;
  max-width: 1300px;
  margin: -500px 50px;
}
.portafolio-container{
  display: flex;
  justify-content: space-between;
}

.portafolio-item{
  width: 30%;
  position: relative;
  overflow: hidden;
}

.portafolio-img{
  transition: all 5.5s;
}

.portafolio-text{
  position: absolute;
  bottom: 0;
  padding: 20px;
  cursor: pointer;
  background: #dd2f2f;
  color: #ffffff;

  transform: translateY(100%);
  transition: all 0.5s ease-out;
}
.portafolio-text{
  text-align: justify;
}
.portafolio-item:hover .portafolio-text{
  transform: translateY(0%);
}
.portafolio-item:hover .portafolio-img{
  transform: scale(1.15);
}


/*Footer*/
  footer {
    width: 90%;
    height: 30px;
    position: absolute;
    bottom: 0;
    right: 150px;
}
.footer-container {
	width: 100%;
	background: #ffffff;
	color: #dd2f2f;
}
.footer-main {
	width: 200%;
	max-width: 1200px;
	margin:  100px;
	padding: 0px;
	display: flex;
	flex-wrap: wrap;
}
.footer-main .footer-columna {
	width: calc(100% / 4);
	text-align: center;
}
.footer-main .footer-columna h3 {
	font-size: 32px;
	color: #dd2f2f;
	margin-bottom: 100px;
}
.icono{
 font-size: 50px;
 color:#dd2f2f;
}
.icono2{
  font-size: 50px;
  color:#dd2f2f;
}
.icono3{
  font-size: 50px;
  color:#dd2f2f;
}
 /*Redes sociales*/
:root{
  --facebook: #3b5999;
  --instagram: #dd2f2f;
  --twitter: #55acee;
  --linkedin: #007785;
   }
  
  .redes-container{
  display: flex;
  height: 10vh;
  align-items: left;
  justify-content: left;
   }
   .redes-container ul li{
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
  }
  .redes-container ul li a{
    display: block;
    padding:0 10px;
    background: #f72922;
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px rgba(0,0,0,.2);
    transition: .2s;
  }
  
  .redes-container ul:hover a{
    filter:blur(2px);
  }
  .redes-container ul li a:hover{
  transform: translateY(-3px)scale(1.05);
  background-origin: 0 5px 5px 0px rgba(0,0,0,.4);
  filter: none;
  }
  
  .redes-container ul li .facebook:hover{
    background: var(--facebook);
  }
  .redes-container ul li .instagram:hover{
    background: var(--instagram);
  }
  .redes-container ul li .twitter:hover{
    background: var(--twitter);
  }
  .redes-container ul li .linkedin:hover{
    background: var(--linkedin);
  }
